{{ define "index" }}

{{ template "header" }}


    <main class="px-3">
        <h1>Главная страница</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas, augue a pellentesque porta, leo lectus posuere quam, vitae malesuada nibh justo id mi. Vivamus posuere posuere neque vitae tempus. Phasellus vitae felis augue. Quisque in iaculis mi. Nullam consectetur tellus sed dui cursus facilisis. Morbi bibendum felis vel dolor vehicula ullamcorper ut nec mi.</p>

        {{ range . }}
        <div class="alert alert-danger">
            <h2>{{ .Title }}</h2>
            <p> {{ .Anons }}</p>
            <a href="/post/{{ .Id }}" class="btn btn-danger">Далі</a>

        </div>
        {{ else }}
        <p class="lead">Статті відсутні</p>
        {{ end }}

        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
        </p>
    </main>

{{ template "footer" }}

{{ end }}